# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.out

# VC ignore
*.vcxproj*
*.sdf
*.sln
*.suo
*.opensdf
*.ipch
*Debug/

*.log
*.tmp
